.long_content{
    $longContentLeftPadding: 28vw;
    padding-left:$longContentLeftPadding;
    $mobileScreenMargin: 4vh;
    @media (max-width: $breakpointMobile){
        padding-left:$mobileScreenMargin;
    }
    section{
        $paddingSectionTop: 7em;
        padding-top:$paddingSectionTop;
        position: relative;
        @media (max-width: $breakpointMobile){
            padding-top:$mobileScreenMargin;
            
        };
        &::before{
            @keyframes slideIn {
                from {width: 30%;opacity: 0;}
                to {width: 100%; opacity: 1;}
            }
            content:'';
            display: block;
            background: $gray--light;
            height: 2px;
            animation-name: slideIn;
            animation-timing-function: ease-in;
            animation-duration: 1s;
            animation-delay: 0.3s;
            animation-fill-mode: both
        }
        &::after{
            $Diameter: 7px;
            content: '';
            display: block;
            position:absolute;
            background:$gray--light;
            height: $Diameter;
            width: $Diameter;
            border-radius: 50%;
            top: calc( #{$paddingSectionTop}  + #{$Diameter} / -2);
            /*circle is not centered relative to the line. just add 1px to avoid the line bleeding out the circle intersection*/
            left:-1px;
            @media (max-width: $breakpointMobile){
                top: calc( #{$mobileScreenMargin}  + #{$Diameter} / -2);

            }
        }
        .title{
            font-family: "Tex Bold", Helvetica, sans-serif;
            margin-top: 0.5em;
            margin-bottom: 2em;
            text-transform: capitalize;
            font-size: 3.2em;
            position: relative;
            color:$gray;
            overflow: hidden;
            @media (max-width: $breakpointMobile){
                margin-bottom: calc( #{$mobileScreenMargin} * 2);   
            }
            span{
                display: block;
            }
        }
        .blog_posts_list{
            font-family: "Oregon Regular", Helvetica, sans-serif;
            list-style: none;
            @media (max-width: $breakpointMobile){
                padding-right:$mobileScreenMargin;
            }
            &_item{
                position: relative;
                margin-bottom: 2.5em;
                transition: filter 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
                @media (max-width: $breakpointMobile){
                    margin-bottom:2.5em;   
                }
                a{
                    text-decoration: underline 1px $gray;
                    color:$gray;
                    font-size: 2.5em;
                    @media (max-width: $breakpointMobile){
                        font-size:2em;
                    }
                }
                &::before{
                    $width:2.9em;
                    $height: 2em;
                    content:'';
                    height: $height;
                    width: $width;
                    position: absolute;
                    bottom: calc(50% - #{$height} /2);
                    left:calc( ( #{$width} + 20px ) * -1);
                    background: repeating-linear-gradient(0deg, #{$gray--light} 6px,transparent 7px 7.5px);
                    @media (max-width: $breakpointMobile){
                        $width: 3em;
                        width: $width;
                        z-index: -1;
                        opacity: 0.6;
                        left:calc( ( #{$width} - 20px ) * -1);
                        bottom: calc(90% - #{$height} /2)
                    }
                }
            }
        }
    }
}