.long_content{
    $longContentLeftPadding: 28vw;
    padding-left:$longContentLeftPadding;
    $mobileScreenMargin: 4vh;
    @media (max-width: $breakpointMobile){
        padding-left:$mobileScreenMargin;
    }
    section{
        padding-top:7em;
        @media (max-width: $breakpointMobile){
            padding-top:$mobileScreenMargin;
            
        }
        .title{
            font-family: "Tex Bold", Helvetica, sans-serif;
            margin-bottom: 2em;
            @media (max-width: $breakpointMobile){
                margin-bottom: calc( #{$mobileScreenMargin} * 2);   
                line-height: 70px;
            }
            font-size: 3.2em;
            position: relative;
            color:$gray;
            line-height: 100px;
            &::before{
                content:'';
                display: block;
                background: $gray--light;
                height: 2px;
                width: 100%;
            }
            &::after{
                $Diameter: 7px;
                content: '';
                display: block;
                position:absolute;
                background:$gray--light;
                height: $Diameter;
                width: $Diameter;
                border-radius: 50%;
                top: calc( #{$Diameter} / -2);
                /*circle is not centered relative to the line. just add 1px to avoid the line bleeding out the circle intersection*/
                left:-1px;
            }
        }
        .blog_posts_list{
            font-family: "Oregon Regular", Helvetica, sans-serif;
            list-style: none;
            @media (max-width: $breakpointMobile){
                padding-right:$mobileScreenMargin;
                
            }
            &_item{
                position: relative;
                margin-bottom: 1.5em;
                @media (max-width: $breakpointMobile){
                    margin-bottom:2.5em;   
                }
                a{
                    text-decoration: underline 1px $gray;
                    color:$gray;
                    font-size: 2.5em;
                    @media (max-width: $breakpointMobile){
                        font-size:2em;
                    }
                }
                &::before{
                    $width:2.9em;
                    $height: 2em;
                    content:'';
                    height: $height;
                    width: $width;
                    position: absolute;
                    bottom: calc(50% - #{$height} /2);
                    left:calc( ( #{$width} + 20px ) * -1);
                    background: repeating-linear-gradient(0deg, #cacaca 6px,transparent 7px 7.5px);
                    @media (max-width: $breakpointMobile){
                        $width: 3em;
                        width: $width;
                        z-index: -1;
                        opacity: 0.6;
                        left:calc( ( #{$width} - 20px ) * -1);
                        bottom: calc(90% - #{$height} /2)
                    }
                }
            }
        }
    }
}