@font-face {
    font-family: 'Oregon Medium Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Oregon LDO Medium Regular'), url('../fonts/Oregon LDO Medium.woff') format('woff');
}

@font-face {
    font-family: 'Oregon Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Oregon LDO Regular'), url('../fonts/Oregon LDO.woff') format('woff');
}

@font-face {
    font-family: 'Oregon Light Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Oregon LDO Light Regular'), url('../fonts/Oregon LDO Light.woff') format('woff');
}
@font-face {
    font-family: 'Tex Regular';
    font-style: normal;
    font-weight: normal;
    src: local('tex-gyre-adventor.regular'), url('../fonts/tex-gyre-adventor.regular.otf') ;
}
@font-face {
    font-family: 'Tex Bold';
    font-style: normal;
    font-weight: normal;
    src: local('tex-gyre-adventor.bold'), url('../fonts/tex-gyre-adventor.bold.otf');
}
@font-face {
    font-family: 'Harir Display';
    font-style: normal;
    font-weight: normal;
    src: local('Harir Display'), url('../fonts/Harir Display.woff2') format('woff2');
}