.layout{
    font-family: "Oregon Light Regular", Helvetica, sans-serif;
    position: relative;
    background-image: url('../images/layout_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow: auto;
    @media (max-width: $breakpointLaptop){
        font-size: 12px;
    }
    &_header{
        position: absolute;
        color: $gray;
        font-size: 7em;
        @media (max-width: $breakpointLaptop){
            font-size: 5.3em;
        }
        @media (max-width: $breakpointMobile){
            font-size: 3em;
            padding-top:4vh;
            line-height: 1.3em;
        }
        font-weight: normal;
        line-height: 1.15em;
        /*same margin as the a href inside nav controls*/
        margin: 0.45em 0.3em;
    }
    &_controls{
        position: fixed;
        bottom: 0.5em; 
        width: 100vw;
        display: flex;
        justify-content: flex-end;
        @media (max-width: $breakpointMobile){
            justify-content: flex-start;
        }
        font-family: "Tex Regular", Helvetica, sans-serif;
        z-index: 1;

        .languages, .internal_links{
            display: flex;
            justify-content: space-around;
            list-style: none;
            font-weight: normal;
            li{
                font-size: 1.3em;
                text-transform: uppercase;
                display: block;
                padding: 1em 1.5em;
                position: relative;
                a{
                    color:inherit;
                    text-decoration: none;
                    color: $gray;
                }
            }
            li:not(li:last-of-type)::before{
                $height: 21px;
                content: "";
                height: $height;
                width: 4px;
                background: $gray--light;
                position: absolute;
                right: 0;
                bottom: calc(50% - #{$height} /2);
            }
        }
        .languages{
            display: none;
            li:not(li:last-of-type)::before{
                transform: rotate(45deg);
            }
        }
    
    }

}

.error{
    background-color:$blue;
    /*unlike the upper .layout, error needs to fill the whole screen with background color hence the full height.*/
    height: 100vh;
    .layout{
        &_header{
            color:$blue--light;
        }
        &_controls{
            .languages, .internal_links{
                li{
                    a{
                        color:$blue--light
                    }
                    &:before{
                        background: $blue--faint !important;
                    }
                }
            }
        }
    }
}