*{
    margin: 0; 
    padding:0;
    box-sizing: border-box;
}


::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar {
    background: transparent;
}
::-webkit-scrollbar-track {
    background: #EDECE9;
}
::-webkit-scrollbar-thumb {
    background:#D3D1CB;
}
::-webkit-scrollbar-thumb:hover {
    background:#AEACA6;
}

$breakpointMobile: 500px;
$breakpointLaptop: 1300px;

@import "./fonts";
@import "./colors.module.scss";

@import "./layout";
@import "./blog";
@import "./blog_post"